@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DCDCDD;
  --foreground: #46494C;
  --color1: #DCDCDD;
  --color2: #C5C3C6;
  --color3: #46494C;
  --color4: #4C5C68;
  --color5: #1985A1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DCDCDD;
    --foreground: #46494C;
    --color1: #DCDCDD;
    --color2: #C5C3C6;
    --color3: #46494C;
    --color4: #4C5C68;
    --color5: #1985A1;  
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Funnel Sans", Arial, Helvetica, sans-serif;
}

html {
  @apply scroll-smooth;
}
