@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bdc4b4;
  --foreground: #33382f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bdc4b4;
    --foreground: #33382f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

html {
  @apply scroll-smooth;
}
